@import "./color";

.App {
  h1,
  h2,
  .menu-title,
  .ordernumber,
  .navtags p {
    @import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
    font-family: "PT Serif", serif;
  }
  h1 {
    font-size: 32;
  }
  h2,
  .menu-title,
  .orderhistorik {
    font-size: 22px;
  }
  .ordernumber {
    font-size: 14px;
  }

  body :not(h1, h2, .menu-title, .navtags p),
  * > *:not(h1, h2, .menu-title, .Navigation) {
    @import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Work+Sans&display=swap");
    font-family: "Work Sans", sans-serif;
  }
}
